
body {
  background-color: rgb(30, 38, 50);
  align-items: center;
}

h1 {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results {
  display: flex;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 18px;
  padding: 25px;
  max-width: 1300px;
  margin: auto;
}

.card {
  background-color: #111416;
  border: 1px solid #3a3d3f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.not-found {
  background-color: #bbbbbb;
  border: 1px solid #3a3d3f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 80vw;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: white;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: rgb(210, 210, 210);
}
